<div class="place-items-center h-screen bg-slate-100 p-4">
  <div
    class="flex flex-col justify-center items-start gap-4 p-4 bg-slate-300 border-slate-300 border-2 rounded-md"
  >
    <h1 class="font-bold text-center text-2xl py-4">Password Generator</h1>

    <div>
      <label>Length</label>
      <input
        #input
        type="text"
        (input)="onChangeLength(input.value)"
        [class.pr-9]="'right'"
        class="w-full pl-3 pr-10 py-2 bg-white placeholder:text-slate-400 text-slate-600 text-sm border border-slate-200 rounded-md transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
      />
    </div>
    @for (item of characterOptions(); track $index) {
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative">
        <input
          [checked]="item.status"
          (change)="onChangeItemStatus(item)"
          type="checkbox"
          class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow-sm border border-slate-200 checked:bg-slate-800 checked:border-slate-800"
          id="checkbox-with-link"
        />
        <span
          class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
          <svg
            fill="none"
            width="18px"
            height="18px"
            stroke-width="2"
            color="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 13L9 17L19 7"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </span>
      </label>
      <label class="cursor-pointer text-slate-600 antialiased">{{
        item.name
      }}</label>
    </div>
    }

    <button
      [disabled]="!(length() && isValid())"
      (click)="onGenerate()"
      class="w-full border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-md py-2 px-4 shadow-sm hover:shadow-md bg-slate-200 border-slate-200 text-slate-800 hover:bg-slate-100 hover:bg-slate-100"
    >
      Generate!
    </button>

    @if (password()) {
    <div class="w-full min-w-[200px]">
      <label class="block mb-1 text-sm text-slate-800"> Your Password </label>

      <div class="relative">
        <input
          type="text"
          [(ngModel)]="password"
          [class.pr-9]="'right'"
          class="w-full pl-3 pr-10 py-4 bg-white placeholder:text-slate-400 text-slate-600 text-sm border border-slate-200 rounded-md transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
        />
        <div
          class="absolute right-3 top-2/4 -translate-y-2/4"
          data-toggle="tooltip"
          data-placement="top"
          data-title="Copy"
          data-tooltip-class="bg-slate-950 text-white text-xs rounded-md py-1 px-2 shadow-md z-50"
          (click)="onCopyPassword()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-copy"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"
            />
          </svg>
        </div>
      </div>
    </div>
    }
  </div>
</div>
